// colors
$white: #fff;
$black: #000;
$off-white: #eee;
$primary: #0147ab;
$grey: #808080;

// font size
$small: .9rem;
$xs-small: .8rem;
$xl-large: 20rem;
$sm-large: 12rem;
$md-large: 2rem;

// font weight
$light: 500;
$heavy: 700;