// partials
@import 'variable';

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.3rem;
    font-weight: $heavy;
  }

  .sound__container {
    display: flex;
    align-items: center;
    gap: 2rem;

    .press__play {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    button {
      border: none;
      padding: 1rem;
      width: 40px;
      height: 40px;
      background: transparent;
      border-radius: 50%;
      cursor: pointer;
    }

    p {
      font-size: 0.75rem;
      color: $grey;
    }

    .music {
      color: $primary;
    }

    .arrow {
      color: $grey;
      animation: bounce 2s linear infinite;
    }

    @keyframes bounce {
      0%,
      25%,
      55%,
      75%,
      100% {
        transform: translateX(0);
      }

      45% {
        transform: translateX(-10px);
      }

      65% {
        transform: translateX(-5px);
      }

      85% {
        transform: translateX(5px);
      }
    }
  }
}

// media queries
@media (max-width: 698px) {
  .navbar {
    max-width: 600px !important;
    padding: 0 1rem;

    .sound__container {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        border: none;
        padding: 1rem;
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        cursor: pointer;
      }

      p {
        font-size: $small;
      }

      .music {
        font-size: 1.4rem;
      }
    }
  }
}
