// partials
@import 'variable';

.welcome {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: $md-large;
      font-weight: $light;
    }

    p {
      font-size: $small;
      padding: 1rem 0;
      line-height: 2;
    }

    .hero__text {
      width: 40%;

      button {
        padding: 1.3rem 1.8rem;
        border: 1px solid $primary;
        border-radius: 20px;
        background: transparent;
        color: $primary;
        margin-top: 1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background: $primary;
          border: px solid;
          color: $white;
        }
      }
    }

    .hero__img {
      width: 50%;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 60px;
      }
    }
  }
}

// media queries
@media (max-width: 698px) {
  .welcome {
    .hero {
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
      width: 100%;

      .hero__text,
      .hero__img {
        width: 100%;
        padding: 0 1rem;
      }

      .hero__img {
        height: 300px;
        margin-top: 4rem !important;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 969px) {
  .welcome {
    max-width: 800px !important;

    .hero {
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
      width: 100%;

      .hero__text,
      .hero__img {
        width: 100%;
        padding: 0 1rem;
      }

      .hero__img {
        height: 500px;
        margin-top: 1rem !important;
      }
    }
  }
}
